/*!
    Starter by Merlin Mason
    License: The MIT License (MIT)
*/


//----------------------------------------------------------------------------//
//  Setup & Create Grid
//----------------------------------------------------------------------------//


@charset "UTF-8";
@import "reset.less";
@import "vars.less";
@import "helpers.less";

@import "modules/grid";
@import "modules/typography";

::selection {
    background:@highlight;
    color:#fff;
    text-shadow:none;
}

* {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}

.row { .make-row(); }
.make-grid-columns();
.make-grid(xs);
@media (min-width: @screen-sm-min) { .make-grid(sm); }
@media (min-width: @screen-md-min) { .make-grid(md); }
@media (min-width: @screen-lg-min) { .make-grid(lg); }


html {
    min-height:100%;
    background:url(img/bg.png) no-repeat center center;
    background-size:cover;
}

@bh: 80px;
@bborder: 10px;

.stage {
    height:(@bh * 10);
    background:rgba(0, 0, 0, 0.1);
    border-radius:(@bh / 2);
}

.bar {
    height:@bh;
    border-radius:(@bh / 2);
    background:linear-gradient(to bottom, #c6c8cb 0%, #edecef 40%, #6c6e71 100%);
    padding:@bborder;
    .inner {
        height:(@bh - (@bborder * 2));
        border-radius:(@bh / 2);
        box-shadow:inset 0 0 2px 1px rgba(0, 0, 0, 0.4);
        background:linear-gradient(to bottom, #fed273 0%, #edc542 10%, #a18505 50%, #e5be44 100%);
    }
}
